aiohttp==2.3.10
aiohttp-jinja2==0.15.0
appdaemon==3.0.2
astral==1.10.1
async-timeout==3.0.1
bcrypt==3.1.6
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
daemonize==2.5.0
feedparser==5.2.1
idna==2.8
idna-ssl==1.1.0
iso8601==0.1.12
jdatetime==3.2.0
Jinja2==2.10
MarkupSafe==1.1.1
multidict==4.5.2
paho-mqtt==1.4.0
pycparser==2.19
pytz==2018.9
PyYAML==3.13
requests==2.21.0
six==1.12.0
sseclient==0.0.23
urllib3==1.24.1
voluptuous==0.11.5
websocket-client==0.56.0
yarl==1.1.0
